---
layout: default
disqus: true
---
<h2>{{ page.title }}</h2>
<p class="meta">{{ page.date | date_to_string }}</p>
<ul class="tags">{% for tag in page.tags %}<li><a href="/tags/#{{tag}}">{{tag}}</a></li>{% endfor %}</ul>

<div class="post">
{{ content }}
</div>

<div class="comments">
  <div id="disqus_thread"></div>
  <p>Comments above are <a href="https://disqus.com/?ref_noscript" rel="nofollow">powered by Disqus.</a></p>
  <p>If you don't see them, make sure you have JavaScript enabled and the requests to Disqus are allowed.</p>
  <p>You can read more about this decision <a href="/about/#disqus">here</a></p>
</div>
